{% extends 'base.html' %}

{% block title %}
    Item
{% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../er.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../er.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../er.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {# TODO: Modify the style here later #}

    <div id="itemRating" class="card">
        {# Shows the summary statistics of the reviews #}
        <div class="card-header">
            {% if num_reviews != 0 %}
            <h5 class="card-title">Average Rating: {{ average }} / 5</h5>
            <div class="container-fluid">
                {% for score in distribution %}
                    <div class="row" style="display:flex;align-items:center;">
                        <div class="col-auto align-middle">{{ score }} star: </div>
                        <div class="col align-middle">
                            <div class="progress" style="height:5px;margin:0;">
                                <div class="progress-bar" role="progressbar"
                                     style="width: {{ distribution[score] * 100 // num_reviews }}%"
                                     aria-valuenow="{{ distribution[score] * 100 // num_reviews }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <h5 class="card-title">No Ratings currently exists</h5>
                <div class="container-fluid">
                    {% for score in distribution %}
                        <div class="row" style="display:flex;align-items:center;">
                            <div class="col-auto align-middle">{{ score }} star: </div>
                            <div class="col align-middle">
                                <div class="progress" style="height:5px;margin:0;">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: 0%"
                                         aria-valuenow="0"
                                         aria-valuemin="0"
                                         aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {# Action listener for clicking the upvote button #}
        <script>
            function clickUpvote(rating_id, current_user) {
                axios.post("/item_upvote", {
                    user: current_user,
                    rating: rating_id
                }).then(function (response) {
                    let result = response.data;
                    document.getElementById(`review-num-upvotes-${rating_id}`).innerText = result.upvotes;
                    document.getElementById(`review-icon-${rating_id}`).className = result.voted ? "text-danger fa fa-thumbs-up" : "text-danger fa fa-thumbs-o-up";
                }).catch(function (error) {
                    console.log(error);
                })
            }
        </script>

        <script>
            function updateRating(rating) {
                [1,2,3,4,5].forEach(x =>
                    document.getElementById(`user-rating-${x}`).className = x <= rating ? "fa fa-star" : "fa fa-star-o"
                )
            }
        </script>

        <script>
            function submitReview(current_user, current_item) {
                let currcomment = document.getElementById("user-review-editor").value.trim();
                if (currcomment == "") {
                    alert("Comments cannot be empty.");
                    return;
                }
                axios.post("/item_review", {
                    user: current_user,
                    item: current_item,
                    rate: [1,2,3,4,5].reduce(
                        (accumulator, current) =>
                            Math.max(accumulator,
                                document.getElementById(`user-rating-${current}`).className == "fa fa-star" ? current : 0)
                        , 0),
                    comment: currcomment
                }).then(function (response) {
                    let result = response.data;
                    let editorDisplay = document.getElementById("user-review-editor-display")
                    editorDisplay.innerText = result.comment;
                    editorDisplay.style.display = "block";
                    document.getElementById("user-review-edit-icon").style.display = "block";
                    document.getElementById("user-review-editor-form").style.display = "none";
                    document.getElementById("user-review-publish-icon").style.display = "none";
                    document.getElementById("user-review-title").innerText = "Your Review";
                    document.getElementById("user-review-delete-icon").style.display = "block";
                    document.getElementById("user-review-clear-icon").style.display = "none";
                }).catch(function (error) {
                    console.log(error);
                })
            }

            function displayEdit() {
                document.getElementById("user-review-title").innerText = "Edit Review"
                document.getElementById("user-review-editor-display").style.display = "none";
                document.getElementById("user-review-edit-icon").style.display = "none";
                document.getElementById("user-review-delete-icon").style.display = "none";
                document.getElementById("user-review-editor-form").style.display = "block";
                document.getElementById("user-review-publish-icon").style.display = "block";
                document.getElementById("user-review-clear-icon").style.display = "block";
            }

            function clearForm() {
                document.getElementById("user-review-editor").value = "";
                updateRating(0);
            }

            function deleteReview(userID, itemID) {
                let result = window.confirm("Are you sure you want to delete this review?");
                if (result) {
                    axios.post("/delete_item_review", {
                        user: userID,
                        item: itemID
                    }).then(function (response) {
                        clearForm();
                        displayEdit();
                    }).catch(function (error) {
                        console.log(error);
                    })
                }
            }
        </script>

        {# Shows each comment's content #}
        <ul class="list-group list-group-flush">

            {# Component for user to write a new review #}
            {# Component style should be congruent to review display style #}
            <li class="list-group-item" style="display:{{ "block" if reviewable else "none" }}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" id="user-review-title">
                            {{ "Edit Review" if not user_review else "Your Review"}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {# Score #}
                            {% for star_prop in boolean_mask(user_review) %}
                                {% if star_prop %}
                                    <i class="fa fa-star" id="user-rating-{{ loop.index }}" onclick="updateRating({{ loop.index }})"></i>
                                {% else %}
                                    <i class="fa fa-star-o" id="user-rating-{{ loop.index }}" onclick="updateRating({{ loop.index }})"></i>
                                {% endif %}
                            {% endfor %}
                        </h6>

                        <div class="card-text">
                            <form style="display:{{ "none" if user_review else "block" }}" id="user-review-editor-form">
                                <div class="form-group">
                                    <textarea
                                            class="form-control"
                                            id="user-review-editor"
                                            rows="3"
                                            placeholder="let others know more about this item">
                                        {{ user_review.comment }}
                                    </textarea>
                                </div>
                            </form>

                            <p style="display:{{ "block" if user_review else "none" }}"
                               id="user-review-editor-display">
                                {{ user_review.comment }}
                            </p>
                        </div>

                        {# rate timestamp #}
                        {# A button for clicking upvotes #}
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <i class="text-danger fa fa-thumbs-o-up"></i>
                                <span class="text-danger">
                                    {{ user_review.num_upvotes if user_review else 0 }}
                                </span>
                            </div>

                            <div onclick="deleteReview({{ current.id }}, {{ item.id }})"
                                 style="display:{{ "block" if user_review else "none" }}"
                                 id="user-review-delete-icon"
                                 class="px-2">
                                <i class="text-danger fa fa-trash-o"></i>
                                <span class="text-danger">Delete</span>
                            </div>

                            <div onclick="displayEdit()"
                                 style="display:{{ "block" if user_review else "none" }}"
                                 id="user-review-edit-icon"
                                 class="px-2">
                                <i class="text-info fa fa-pencil"></i>
                                <span class="text-info">Edit</span>
                            </div>

                            <div onclick="clearForm()"
                                 style="display:{{ "none" if user_review else "block" }}"
                                 id="user-review-clear-icon"
                                 class="px-2">
                                <i class="text-danger fa fa-trash-o"></i>
                                <span class="text-danger">Clear</span>
                            </div>

                            <div onclick="submitReview({{ current.id }}, {{ item.id }})"
                                 style="display:{{ "none" if user_review else "block" }}"
                                 id="user-review-publish-icon"
                                 class="px-2">
                                <i class="text-info fa fa-paper-plane-o"></i>
                                <span class="text-info">Publish</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            {# Shows other users' review #}
            {% for review in reviews if (has_user_review and review.rating_id != user_review.rating_id) or (not has_user_review) %}
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {# rater name #}
                                {{ review.commenter }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {# Score #}
                                {% for star_prop in boolean_mask(review) %}
                                    {% if star_prop %}
                                        <i class="fa fa-star"></i>
                                    {% else %}
                                        <i class="fa fa-star-o"></i>
                                    {% endif %}
                                {% endfor %}
                            </h6>
                            <p class="card-text">
                                {# comment content #}
                                {{ review.comment }}
                            </p>

                            {# rate timestamp #}
                            {# A button for clicking upvotes #}
                            <div class="d-flex">
                                <div class="flex-grow-1" onclick="clickUpvote({{ review.rating_id }}, {{ current.id }})">
                                    <i
                                        class="{{ "text-danger fa fa-thumbs-o-up" if not review.is_voted else "text-danger fa fa-thumbs-up" }}"
                                        id="review-icon-{{ review.rating_id }}"></i>
                                    <span id="review-num-upvotes-{{ review.rating_id }}" class="text-danger">{{ review.num_upvotes }}</span>
                                </div>
                                <div>
                                    <span class="text-secondary">Written on {{ review.ts }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}