{% extends 'base.html' %}

{% block title %}
    Upload Item
{% endblock %}

{% block content %}
    <body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:black" enctype="multipart/form-data">
            <!-- protect against CSRF -->
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-bold">
                Create Item
            </h1>
            <br>
            {{ form.item_name.label(class="form-label") }}
            {{ form.item_name(class="form-control", placeholder="Item Name") }}

            <div class="mt-2">
                {{ form.category.label(class="form-label") }}
                {{ form.category(class="form-control") }}
            </div>
            <div class="mt-2">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control") }}
            </div>
            <div class="mt-2">
                {{ form.quantity.label(class="form-label") }}
                {{ form.quantity(class="form-control") }}
            </div>
            <div class="mt-2">
                {{ form.images.label(class="form-label") }}
                {{ form.images(class="form-control", placeholder="Support file types:") }}
            </div>
            <div class="mt-2">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}

            </div>

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
    </body>
{% endblock %}