{% extends 'base.html' %}

{% block title %}
    Item
{% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../er.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../er.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../er.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {# TODO: Modify the style here later #}

    <div id="ratingComponent">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Rating: {{ average }} / 5</li>

            <ul class="list-group list-group-flush">
            {% for rate in distribution %}
                <li class="list-group-item">
                    {{ rate }} star:
                    <div class="progress">
                        <div class="progress-bar"role="progressbar"
                             style="width: {{ distribution[rate] * 100 // num_reviews }}%"
                             aria-valuenow="{{ distribution[rate] * 100 // num_reviews }}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <li class="list-group-item">{{ distribution }}</li>

            {% for review in reviews %}
                <li class="list-group-item">{{ review.__repr__() }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}