certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
docopt==0.6.2
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.2
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
pipreqs==0.4.11
psycopg2==2.7.7
psycopg2-binary==2.9.3
requests==2.27.1
SQLAlchemy==1.4.32
typing-extensions==4.1.1
urllib3==1.26.8
Werkzeug==2.0.3
yarg==0.1.9
zipp==3.7.0
